.outer {
    position: relative;
    padding-left: 50px;
    line-height: 40px;
    color: #082c42;
    margin: 0;
    padding-bottom: 15px;
}

.tab:last-child .outer{
    padding-bottom: 0;
}

.inner {
    position: absolute;
    left: 0;
}

.inner::before {
    content: url("images/button.svg");
    width: 40px;
    height: 40px;
    position: absolute;
}

.inner::after {
    content: "•";
    position: absolute;
    width: 40px;
    text-align: center;
    font-size: 40px;
    color: #082c42;
}

.hide {
    padding-left: 50px;
    display: none;
    margin-top: 0;
}

.tab.active .inner::after {
    color: #bfd7ed;
}

.accordion {
    max-width: 800px;
}

.accordion {
    position: relative;
}

.accordion .tab::before {
    border-left: solid #979797 1px;
    content: '';
    position: absolute;
    left: 20px;
    top: 0;
    bottom: 0;
    z-index: -1;
}